<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head">
    <meta charset="UTF-8">
</head>
<body>

<nav th:replace="fragments/nav"></nav>

<div class="container">
    <h2 th:text="#{password.change.title}">Cambiar contraseña</h2>
    <form class="form-horizontal" method="post" th:action="@{/profile/password}" th:object="${passwordDto}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="actualPassword" th:text="#{password.current}">Contraseña Actual: </label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="actualPassword" th:field="*{actualPassword}"
                       th:placeholder="#{password.current.placeholder}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('actualPassword')}" th:errors="*{actualPassword}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password" th:text="#{password.new}">New Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" th:field="*{password}"
                       th:placeholder="#{password.new.placeholder}" required />
                <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="passwordConfirm" th:text="#{password.confirm}">Repite la nueva contraseña:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}"
                       th:placeholder="#{password.confirm.placeholder}" required />
                <p class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{password.update}">Actualizar contraseña</button>
            </div>
        </div>
    </form>

</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>