<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.title}">BIENVENIDO</h2>
    <h3 th:text="#{welcome.subtitle}">Esta es una zona privada la web</h3>
    <p>
        <span th:text="#{welcome.authenticated}">Usuario Autenticado como:</span>
        <span th:text="${#authentication.name}"></span>
    </p>

</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>